* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
}
img,
video {
  display: block;
}
audio {
  display: none;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  background: #c4d2f5;
}
.player {
  display: flex;
  width: 440px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  gap: 30px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 20px rgba(255, 254, 254, 0.15);
}
.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.player-track-title {
  font-size: 18px;
  text-align: center;
}
.player-track-artist {
  font-size: 14px;
  text-align: center;
  color: #909090;
}
.player-progress {
  display: flex;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}
.player-time {
  font-size: 15px;
  color: #909090;
}
.player-progress-bar {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 3px;
  background: #f6f6ef;
}
.player-progress-inner {
  width: 120px;
  height: 6px;
  background: #e783bc;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.player-button {
  display: flex;
  width: 74px;
  height: 74px;
  border-radius: 37px;
  background: #e783bc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa-solid {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
}
